body {
  background-color: #313456ff;
  margin:0;
  padding:0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  width: 100%;
  height:4%;
  display: flex;
  align-items: flex-end;
}

.navbar ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  background-color: #CDC4E0ff;
  list-style: none;
}

.navbar a {
  color: white;
}

.login, .signup {
  background-color: #CDC4E0ff;
  width:100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.login input, .signup input {
  height:30px;
  padding:10px;
  margin-bottom: 50px;
  width: 300px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.login button {
  width: 200px;
  color:rgb(255, 255, 255);
  background-color: #A88FEAff;
}

.login button:hover {
  background-color: #352A98ff;
  color: white;
}

label {
  color: white;
}

.errorsSignup {
  color: red;
}