#settings {
    display: flex;
    width: 25%;
    min-width: 350px;
    flex-direction: column;
    max-height: 90%;
    & #name {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 28%;
        min-height: 250px;
        margin-bottom: 1em;
        border-radius: 20px;
        background-color:  rgba(255, 255, 255, 0.596);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
        & form {
            display: flex;
            gap: 20px;
            flex-direction: column;
            & h2 {
                text-align: center;
                color: var(--text-color);
            }
            & input {
                width: 200px;
                height: 45px;
                font-size: 1.2em;
                background: #c1bbd877;
                color: var(--text-color);
                padding: 0.5rem 1rem 0.5rem 1rem;
                border: none;
				outline: none;
				border-radius: 2rem;
                text-align: center;
            }
        }
    }
    & #avatar {
        height: 72%;
        width: 100%;
        padding-bottom: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 20px;
        background-color:  rgba(255, 255, 255, 0.671);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
        & h2 {
            color: var(--text-color);
            padding-bottom: 20px;
        }
        & #picture {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
        }
        & #profilePicture {
            border: 1px solid var(--second-color);
            margin: 15px 15px 0px 15px;
            object-fit: cover;
            aspect-ratio: 1 /1;
            max-width: 250px;
            max-height: 250px;
            border-radius: 100%;
        }
    }
    & form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        & #inputDiv {
            width: 80%;
            aspect-ratio: 1;
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            border: 2px dashed var(--second-color);
            color: var(--text-color);
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & > p {
                background-color: transparent;
            }
            & .or {
                margin: 10px 0;
            }
            & #files {
                color: transparent;
                width: 120px;
                height: 35px;
                display: flex;
                background: transparent;
                &::before {
                    color: var(--text-color);
                    text-align: center;
                    content: 'Select file';
                    display: inline-block;
                    background: transparent;
                    border: 1px solid #999;
                    border-radius: 3px;
                    padding: 5px 8px;
                    outline: none;
                    white-space: nowrap;
                    cursor: pointer;
                }
                &:hover::before {
                    background-color: var(--second-color);
                }
                &::-webkit-file-upload-button {
                    visibility: hidden;
                }
            }
        }
        & label {
            min-width: 100px;
            margin-bottom: 7px;
            color: var(--text-color);
            word-break: break-all;
        }
        & .saveZone {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 10%;
            margin-top: 1em;
            & #save {
                border-radius: 10px;
                background-color: #dbb8d9e1;
                min-width: 150px;
                padding: 5px 10px;
                font-size: 1.2em;
                &:hover {
                    background-color: var(--third-color);
                    font-weight: bolder;
				    color: white;
                }
            }
            & .error {
                margin-top: 10px;
                color: red;
                font-weight: bold;
            }
        }
    }
}

.hovered {
    background-color: #dbb8d9e1;
}