@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico:wght@200&display=swap');

:root {
    
    /* --prim-color: #00296b;
    --second-color: #fdc500;
    --third-color: #4a214a;
    --text-color: #4F200D;
    --ball-color: #ffd500; */

    --prim-color: #272c46;
    --second-color: #dc9017;
    --third-color: #0e4f78;
    --text-color: #ffffff;
    --ball-color: #f4a261;

    /* --prim-color: #272c46;
    --second-color: #dc9017;
    --third-color: #4a214a;
    --text-color: #ffffff;
    --ball-color: #f4a261; */

    /* --prim-color: #5f0f40;
    --second-color: #1d8ca8;
    --third-color: #4a214a;
    --text-color: #ffe5db;
    --ball-color: #fb8b24; */

    /* --prim-color: #0b3954;
    --second-color: #0cc1d5;
    --third-color: #4a214a;
    --text-color: #ffe5db;
    --ball-color: #ff5a5f; */

    /* 5 */
    --prim-color: #0b3954;
    /* --second-color: #1374b2; */
    --second-color: #33469c77;
    --third-color: #21c787e1;
    --fourth-color: #13b4c0e1;
    --text-color: #fff6fa;
    --ball-color: #f6f7ffe1;
}