@import url("Base.css");

#chat_page {
	display: flex;
	align-items: center;
	backdrop-filter: blur(7px);
    background-color:  rgba(255, 255, 255, 0.31);

	& .card {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		background: transparent;
		padding: 2rem 8rem;
		width: 100%;
		height: 100%;
		// min-width: 450px;
		// min-height: 450px;
		
		& .popup {
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 9;
			cursor: default;
			& .box {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 500px;
				height: 340px;
				background-color:  rgba(255, 255, 255, 0.95);
				border-radius: 30px;
				box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
				& > h1 {
					font-size: 23px;
					font-weight: bolder;
					margin: 20px 0px;
					border-bottom: 1px solid var(--text-color);
				}
				& .formNewChannel {
					display: flex;
					flex-direction: column;
					align-items: center;
					& .rawCheckbox {
						display: flex;
						align-items: center;
					}
					& section {
						padding: 3px 10px;
						& .labelName {
							padding: 0.3rem;
						}
					}
					& input {
						background: #c1bbd877;
						color: var(--text-color);
						border: none;
						outline: none;
						border-radius: 50px;
						padding: 0.3rem 1rem;
						margin: 10px;
					}
					& .button {
						color: var(--text-color);
						width: 30%;
						font-size: 18px;
						margin: 20px 0;
						padding: 10px 0;
						background-color: var(--second-color);
						border-radius: 50px;
						position: relative;
						z-index: 1;
						overflow: hidden;
						
						&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 120%;
						height: 100%;
						background-color: var(--second-color);
						filter: brightness(95%);
						transform: skewX(50deg) translateX(-110%);
						transition: all 400ms ease-in-out;
						z-index: -1;
						}
				
						&:hover::after {
						transform: skewX(-10deg) translateX(-10%);
						}
					}
				}
			}
		}	
	
		& #chatLeft {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-width: 200px;
			max-width: 350px;
			min-height: 450px;
			border-radius: 20px;
			background-color:  rgba(255, 255, 255, 0.85);
			box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);

			& #searchbarWrapper {
				display: flex;
				flex-direction: column;
				height: 60px;
				padding: 1rem;
				& input {
					width: 100%;
					background: #c1bbd877;
					color: var(--text-color);
					padding: 0.5rem 2rem 0.5rem 1rem;
					border-radius: 2rem;
					border: none;
					outline: none;
				}
				& .svgSearch {
					height: 15px;
					margin-left: -2rem;
					opacity: 25%;
					color: var(--text-color);
					background-color: #c8c3dd77;
				}
				& ul {
					color: var(--text-color);
					position: absolute;
					z-index: 9;
					width: 160px;
					margin: 2.4rem 0;
					padding: 0.3rem 1rem;
					background-color: rgb(255, 255, 255);
					box-shadow: 0 1px 2px rgb(204, 204, 204);
					overflow: hidden;
					overflow-y: auto;
					& button {
						color: #000000;
					}
				}
				& .boxPassword {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 370px;
					height: 220px;
					background-color:  rgba(255, 255, 255, 0.95);
					border-radius: 30px;
					box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
					& > h1 {
						font-size: 23px;
						font-weight: bolder;
						margin: 20px 0px;
						border-bottom: 1px solid var(--text-color);
					}
					& form {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						& input {
							background: #c1bbd877;
							color: var(--text-color);
							border: none;
							outline: none;
							border-radius: 50px;
							padding: 10px 1rem;
							margin-bottom: 10px;
						}
						& button {
							color: var(--text-color);
							width: 50%;
							font-size: 18px;
							margin: 10px 0;
							padding: 5px 0;
							background-color: var(--second-color);
							border-radius: 50px;
							position: relative;
							z-index: 1;
							overflow: hidden;
							&::after {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								width: 120%;
								height: 100%;
								background-color: var(--second-color);
								filter: brightness(95%);
								transform: skewX(50deg) translateX(-120%);
								transition: all 400ms ease-in-out;
								z-index: -1;
							}
							&:hover::after {
								transform: skewX(-10deg) translateX(-10%);
							}
						}
					}
				}	
			}

			& #createChannel {
				display: flex;
				height: 70px;
				padding-bottom: 20px;
				align-items: center;
				justify-content: center;
				& p {
					color: var(--text-color);
					font-size: 15px;
					font-weight: bold;
					padding: 5px 15px;
					background-color: #dbb8d9e1;
					border-radius: 10px;
					cursor: pointer;
				}
			}	

			& #channelListWrapper {
				display: flex;
				flex-direction: column;
				align-items: left;
				height: 80%;
				padding-left: 1.5rem;
				& h2 {
					font-size: 20px;
					border-bottom: 1px solid rgb(0, 0, 0, 0.2);
					margin-top: 10px;
					margin-bottom: 5px;
				}
				& .channelList {
					overflow-y: auto;
					& li {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						padding: 0.6px 1px;
						& button {
							width: 85%;
							text-align: left;
							word-break: break-all;
							cursor: pointer;
							&:hover {
								font-weight: bolder;
								color: var(--third-color);
								transition: all 100ms ease-in-out;
							}
							& #msg {
								padding-left: 0.5em;
								opacity: 60%;
							}
						}
						& .waitingMsg {
							font-style: bold;
						}
						& .circle {
							width: 15%;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							margin: 0 1rem;
							&.online {
								background-color: #8BC34A;
							}
							&.offline {
								background-color: #fa6969;
							}
						}
					}
				}
			}
		}
		
		& #chatRight {
			position: relative;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			width: 100%;
			min-width: 450px;
			min-height: 450px;
			border-radius: 20px;
			margin-left: 30px;
			background-color:  rgba(255, 255, 255, 0.65);
			box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);

			& .sidebar {
				position: absolute;
				display: flex;
				justify-content: flex-end;
				z-index: 9999;
				top: 0;
				right: 0;
				width: 270px;
				height: 100%;
				background: #13364dd8;
				transition: transform 0.5s ease-in-out;
				transform: translateX(100%);
				&.show {
					transform: translateX(0%);
					box-shadow: 2px 3px 7px 1px rgba(99, 99, 99, 0.3);
					
					& .sidebarContent {
						width: 100%;
						background: transparent;
						overflow-y: auto;
						& .closeIcon {
							padding: 1rem;
							font-size: 20px;
							background: transparent;
						}
						& .navRight {
							background: transparent;
							text-align: end;
							width: 100%;
							& > h1 {
								padding: 0.5rem 1rem;
								background: transparent;
							}
							& .paramMenu {
								display: flex;
								flex-direction: column;
								background: transparent;
								width: 100%;
								font-size: 17px;
								& > li {
									width: 100%;
									padding: 0.4rem 1rem;
									background: transparent;
									border-bottom: 2px solid rgb(214, 214, 214);
									& a {
										background: transparent;
									}

									& > button {
										padding: 0.7ch;
										margin: 0.7ch;
										margin-top: 1ch;
										font-family: 'Courier New', Courier, monospace;
										border-color: rgb(214, 214, 214);
										border-radius: 15px;
										border-style: groove;
										color: rgb(214, 214, 214);
									}
									&:hover {
										background:#ddd;
										color:#000000;
										cursor: pointer;
										& #navlink{
											color:#000000;
										}
										& > button{
											color: #000000;
											background-color: #989e90;
											&:hover {
												background-color: #016d06;
												font-style: oblique;
												color:#000000;
												cursor: pointer;
											}
										}
									}
								}
								& .memberList {
									display: flex;
									flex-direction: column;
									background-color: #b9cbce;
									padding: 0.3rem 1.5rem;
									& > li {
										display: flex;
										justify-content: space-between;
										text-align: start;
										font-size: 15px;
										background: transparent;
										& div {
											background: transparent;
										}
										& .iconStatus {
											background: transparent;
											width: 15px;
											padding-left: 6px;
											opacity: 70%;
										}
										& button {
											background: transparent;
											&:hover {
												font-weight: bolder;
												color: #0f1a83;
											}
										}
									}
								}
								& .memberButton {
									background: transparent;
									position: relative;
									& .iconAction {
										background: transparent;
										width: 15px;
										padding-left: 12px;
										opacity: 70%;
										&:hover {
											// outline: none;
											// width: 20px;
											color: #016d06;
											// box-shadow: 2px 3px 7px 1px rgba(99, 99, 99, 0.3);
										}
									}
									&:hover::before {
										color: rgb(2, 129, 214);
										font-weight: bold;
										content: attr(data-hover-text);
										position: absolute;
										z-index: 10;
										top: -1rem;
										right: 10px;
										// margin-bottom: 1rem;
										background-color: rgba(184, 179, 179, 0.3);
										padding: 0.1rem 0.4rem;
									}
									& .mute {
										display: flex;
										flex-direction: column;
										background: transparent;
										&:hover {
											background: rgba(223, 223, 223, 0.95);
											color: var(--text-color);
											cursor: initial;
										}
										& div {
											display: flex;
											justify-content: space-between;
											background: transparent;
											align-items: center;
											& button {
												// font-size: 2rem;
												background: transparent;
												padding:0 0.2rem;
												margin: 0 0.2rem;
												border-radius: 100%;
												// box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .6);
											}
											& span {
												width: 1.8rem;
												font-size: 1.4rem;
												font-weight: bold;
												background: transparent;
											}
											& .muteButton {
												color: var(--text-color);
												width: 25%;
												font-size: 1rem;
												// font-size: 18px;
												margin: 3px 0 5px 0;
												// padding: 3px 0;
												background-color:#b9cbce;
												border-radius: 50px;
												position: relative;
												z-index: 1;
												overflow: hidden;
											}
										}
									}
								}
								& .searchbar {
									display: flex;
									align-items: center;
									justify-content: center;
									background-color: #b9cbce;
									padding: 0.5rem 1.5rem;
									& input {
										width: 100%;
										background: rgb(238, 238, 238);
										color: rgb(77, 77, 77);
										padding: 0.3rem 2rem 0.3rem 1rem;
										border-radius: 2rem;
										border: none;
										outline: none;
									}
								}
								& .invite {
									display: flex;
									flex-direction: column;
									background-color: #b9cbce;
									& ul {
										padding: 0 1.5rem 0.3rem 1.5rem;
										background: transparent;
										& li {
											display: flex;
											justify-content: space-between;
											text-align: start;
											font-size: 15px;
											background: transparent;
											& button {
												background: transparent;
												&:hover {
													font-weight: bolder;
													color: #0f1a83;
												}
											}
										}
									}
								}
								& .settingList {
									display: flex;
									flex-direction: column;
									background-color: #b9cbce;
									width: 100%;
									padding: 0.5rem 0;
									& > li {
										display: flex;
										flex-direction: row;
										align-items: center;
										justify-content: space-between;
										background: transparent;
										font-size: 15px;
										width: 100%;
										padding: 0.3rem 1.5rem;
										// border-bottom: 1px solid rgb(217, 223, 243);
									}
									& .inputChannel {
										outline: 0;
										border-width: 0 0 1px;
										border-color: rgb(42, 42, 43, 0.5);
										background: #b0c1c4;
										width: 60%;
										padding: 0.2rem 0.5rem;
										border-radius: 0.5rem;
									}
									.inputPassword {
										outline: 0;
										border-width: 0 0 1px;
										border-color: rgb(42, 42, 43, 0.5);
										background: #b0c1c4;
										width: 100%;
										padding: 0.2rem 0.5rem;
										border-radius: 0.5rem;
									}
									& button {
										background: transparent;
										color: #088f03;
										font-weight: bold;
										font-size: 17px;
									}
								}
								& .outChannel {
									color: red;
									background: transparent;
								}	
							}
						}
					}
				}
			}

			& #channelHeader {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 60px;
				border-bottom: 1px solid rgb(209, 209, 209);
				padding: .75rem 1.5rem;
				& h1 {
					word-break: break-all;
					font-size: 1.125rem;
				}
				& .iconChannels {
					height: 15px;
					opacity: 70%;
					padding: 0 0.9rem;
					position: relative;
					color: var(--third-color);
				}
			}

			& #messageList {
				display: flex;
				flex-direction: column-reverse;
				height: 80%;
				background-color: #c8c3dd77;
				padding: 1.5rem 1.5rem 1.5rem 1rem;
				overflow-y: auto;
				font-size: 15px;
				& .message {
					display: flex;
					flex-direction: row;
					vertical-align: top;
					padding: 0.1rem 0;
					&.received {
						float: left;
						display: flex;
						align-self: flex-start;
						& .bubble {
							padding: 0.3em;
							padding-left: 1em;
							padding-right: 1em;
							color: black;
							background-color: #aa9aa677;
							border-radius: 0 .75rem .75rem .75rem;
						}
					}
					&.sent {
						float: right;
						display: flex;
						align-self: flex-end;
						& .bubble {
							padding: 0.3em;
							padding-left: 1em;
							padding-right: 1em;
							color: white;
							background-color: var(--third-color);
							border-radius: .75rem 0 .75rem .75rem;
						}
					}
				}
				& .avatar {
					width: 3.2rem;
					& #profilePicture {
						border-radius: 100%;
						aspect-ratio: 1/1;
						object-fit: cover;
						margin-right: 0.5rem;
						width: 3rem;
					}
				}
				& .messageText {
					word-break: break-all;
				}
				& .messageDate {
					display: flex;
					justify-content: flex-end;
					font-size: 11px;
					color: #3b3b3b;
				}
			}

			& #sendMessage {
				display: flex;
				height: 100px;
				padding: 1.3rem;
				& .sendMessageForm {
					display: flex;
					align-items: center;
					width: 100%;
					padding-right: 3rem;
					& input {
						width: 100%;
						background-color: #c8c3dd77;
						color: black;
						border-radius: 0.5rem;
						padding: 0.7rem 3rem 0.7rem 1rem;
						margin: 0 1.5rem;
						border: 0px solid transparent;
						outline: none;
					}
					& .send {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 1.3rem;
						height: 2rem;
						margin-left: -4rem;
						opacity: 40%;
						background-color: transparent;
						& .svgSend {
							height: 70%;
							background: rgb(238, 238, 238);
						}
					}
				}
			}
		}
	}
}

.logError {
	color: red;
  }
  