.chatWrapper {
	display: flex;
	/* padding: 1em; */
	width: 70%;
	min-width: 450px;
	height: 100%;
	color: black;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
}

.left {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.leftHeader {
	display: flex;
	justify-content: flex-start;
}

.createChannel {
	display: flex;
	// align-items: center;
	cursor: pointer;
	padding: .75rem .5rem;
}	

#searchBar {
    display: flex;
    flex-direction: column;
	// align-items: center;
	// justify-content: space-between;
	padding: .75rem 1rem;
	// height: 15%;
}

#searchBar input {
	width: 80%;
	background: rgb(238, 238, 238);
	color: black;
	border-radius: 2rem;
	border-width: 1px;
	border-color: rgb(194, 194, 194);
	padding: .5rem;
	color: grey;
	border: 0px solid transparent;
	transition: all .2s ease;
	&:focus {
		outline: none;
		box-shadow: 2px 3px 7px 1px rgba(99, 99, 99, 0.3);
	}
    border: none;
    outline: none;
}

#searchBar ul {
    display: flex;
	width: 80%;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
	margin: 0;
    padding: 0;
	box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    // display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

#searchBar ul li {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    transition: all .2s ease-in-out;
    text-align: left;
}

#searchBar ul li:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.channelListWrapper {
	display: flex;
	width: 100%;
	align-items: left;
	flex-direction: column;
	// justify-content: center;
	align-items: left;
	padding-left: 1.5rem;
	margin: 0;
}

.channelListWrapper h2 {
	align-items: left;
	font-size: 20px;
}

.channelList {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items:flex-start;
	height: 90%;
	width: 100%;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

.channelList li {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}

.chatMessageWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	/* border-radius: .5rem; */
	border: 1px solid rgb(214, 214, 214);
}

.chatMessageHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .75rem 1.5rem;
}

.chatMessageHeader h1 {
	color: black;
	font-size: 1.125rem;
}

.messageList {
	background: rgb(231, 231, 231);
	padding: 1.5rem;
	display: flex;
	flex-direction: column-reverse;
	grid-row-gap: 1rem;
	height: 80%;
	overflow-y: auto;
	/* max-height: 300px; */
}

.sendMessage {
	display: flex;
	justify-content: center;
	padding: .75rem .75rem;
}

.sendMessageForm {
	display: flex;
	align-self: flex-end;
	width: 90%;
	padding: .5rem;
}

.inputMessage {
	width: 90%;
	background: rgb(238, 238, 238);
	color: black;
	border-radius: .2rem;
	padding: 1rem;
	border: 0px solid transparent;
	/* border: 2px rgb(0, 0, 0); */
}

.popupBox {
	position: fixed;
	// background: #00000050;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}	

.box {
	position: relative;
	width: 40%;
	margin: 0 auto;
	height: auto;
	max-height: 70vh;
	margin-top: calc(100vh - 85vh - 20px);
	background: #ff8c8c;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid #999;
	overflow: auto;
	color: black;
}
   
.close-icon {
	content: 'x';
	cursor: pointer;
	position: fixed;
	right: calc(15% - 30px);
	top: calc(100vh - 85vh - 33px);
	// background: #ededed;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	border: 1px solid #999;
	font-size: 20px;
}
.form {
	color: black;
}

/*
.bubble {
	overflow: hidden;
	animation: MessageIn .3s;
	padding: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 11px;
	background-color: #ececec;
}

@keyframes MessageIn {
	from {transform: translateX(20px); opacity: 0;
	max-height: 0;}
	to {transform: translateX(0); opacity: 1;
	max-height: 400px;}
} */