@import url("Base.css");

#chat_page {
	display: flex;
	align-items: center;
	justify-content: space-around;	

	& .card {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		overflow: hidden;
		width: 70%;
		height: 85%;
		min-width: 450px;
		border-radius: 10px;
		border: 1px solid rgb(214, 214, 214);
		box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
		
		& .popup {
			position: fixed;
			top: 0;
			left: 0;
			margin-top: 3rem;
			z-index: 9;
			background: transparent;
			width: 100%;
			cursor: default;
			
			& .box {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 40%;
				height: auto;
				max-height: 70vh;
				padding: 20px;
				margin: 0 auto;
				margin-top: calc(100vh - 85vh - 20px);
				font-size: 16px;
				color: black;
				background: #fff9fd;
				border: 1px solid #d8d8d8;
				border-radius: 4px;
				overflow: auto;
				& > h1 {
					font-size: 23px;
					padding: 0.7rem;
				}
				& .formNewChannel {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 100%;
					& .rawCheckbox {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;
						align-items: center;
					}
					& section {
						padding: 0.5rem 1rem;
						& .labelName {
							padding: 0.3rem;
						}
					}
					& input {
						border: 1px solid var(--second-color);
						border-radius: 50px;
						padding: 0.3rem 1rem;
						margin: 10px;
						// font-size: 1.2em;
					}
					& .button {
						color: var(--text-color);
						width: 30%;
						font-size: 18px;
						margin: 20px 0;
						padding: 10px 0;
						background-color: var(--second-color);
						border-radius: 50px;
						position: relative;
						z-index: 1;
						overflow: hidden;
						
						&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 120%;
						height: 100%;
						background-color: var(--second-color);
						filter: brightness(95%);
						transform: skewX(50deg) translateX(-105%);
						transition: all 400ms ease-in-out;
						z-index: -1;
						}
				
						&:hover::after {
						transform: skewX(-10deg) translateX(-10%);
						}
					}
				}
			}
		}	
	
		& #chatLeft {
			display: flex;
			flex-direction: column;
			width: 20%;

			& #searchbarWrapper {
				display: flex;
				flex-direction: column;
				height: 15%;
				padding: 1rem;
				& .searchbar {
					position: relative;
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					& input {
						width: 100%;
						background: rgb(238, 238, 238);
						color: grey;
						padding: 0.5rem 2rem 0.5rem 1rem;
						border-radius: 2rem;
						transition: all .2s ease;
						&:focus {
							outline: none;
							box-shadow: 2px 3px 7px 1px rgba(99, 99, 99, 0.3);
						}
						border: none;
						outline: none;
					}
					& .svgSearch {
						height: 1.1rem;
						margin-left: -2rem;
						opacity: 50%;
						background-color: #eee;
					}
				}
				& ul {
					position: absolute;
					z-index: 9999;
					width: 10.2rem;
					margin: 2.4rem 0;
					padding: 0.3rem 1rem;
					background-color: rgb(255, 255, 255);
					box-shadow: 0 1px 2px rgb(204, 204, 204);
					overflow: hidden;
					overflow-y: auto;
				}
				& .popup {
					position: fixed;
					z-index: 9;
					background: transparent;
					width: 80%;
					
					& .box {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 30%;
						padding: 20px;
						margin: 0 auto;
						margin-top: calc(100vh - 85vh - 20px);
						font-size: 16px;
						background: #fff9fd;
						border: 1px solid #d8d8d8;
						border-radius: 4px;
						& > h1 {
							font-size: 23px;
							padding: 0.7rem;
						}
						& form {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							width: 100%;
							& input {
								border: 1px solid var(--second-color);
								border-radius: 50px;
								padding: 0.3rem 1rem;
								margin: 10px;
								// font-size: 1.2em;
							}
							& button {
								color: var(--text-color);
								width: 30%;
								// font-size: 18px;
								margin: 6px 0;
								padding: 3px 0;
								background-color: var(--second-color);
								border-radius: 50px;
								position: relative;
								z-index: 1;
								overflow: hidden;
									
								&::after {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								width: 120%;
								height: 100%;
								background-color: var(--second-color);
								filter: brightness(95%);
								transform: skewX(50deg) translateX(-105%);
								transition: all 400ms ease-in-out;
								z-index: -1;
								}
							
								&:hover::after {
								transform: skewX(-10deg) translateX(-10%);
								}
							}
						}
					}
				}
			}

			& #channelListWrapper {
				position: relative;
				display: flex;
				height: 75%;
				flex-direction: column;
				align-items: left;
				padding-left: 1.5rem;
				& h2 {
					font-size: 20px;
					font-weight: bold;
				}
				& .channelList {
					overflow-y: auto;
					padding-bottom: 1rem;
					& li {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						padding: 0.2rem 0.5rem;
						& button {
							width: 100%;
							text-align: left;
							cursor: pointer;
							& #msg {
								padding-left: 0.5em;
								opacity: 70%;
							}
						}
						& .waitingMsg {
							font-style: bold;
						}
						
						& .circle {
							width: 8px;
							height: 8px;
							border-radius: 50%;
							margin: 0 1rem;
							&.online {
								background-color: #8BC34A;
							}
							&.offline {
								background-color: #fa6969;
							}
						}
					}
				}
			}

			& #createChannel {
				display: flex;
				height: 10%;
				align-items: center;
				justify-content: space-around;
				cursor: pointer;
			}	
		}
		
		& #chatRight {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 80%;
			border-left: 1px solid rgb(214, 214, 214);

			& .sidebar {
				position: absolute;
				display: flex;
				justify-content: flex-end;
				z-index: 9999;
				top: 0;
				right: 0;
				width: 270px;
				height: 100%;
				background: rgba(223, 223, 223, 0.95);
				transition: transform 0.5s ease-in-out;
				transform: translateX(100%);
				&.show {
					transform: translateX(0%);
					box-shadow: 2px 3px 7px 1px rgba(99, 99, 99, 0.3);
					
					& .sidebarContent {
						width: 100%;
						background: transparent;
						overflow-y: auto;
						& .closeIcon {
							padding: 1rem;
							font-size: 20px;
							background: transparent;
						}
						& .navRight {
							background: transparent;
							text-align: end;
							width: 100%;
							& > h1 {
								padding: 0.5rem 1rem;
								background: transparent;
							}
							& .paramMenu {
								background: transparent;
								width: 100%;
								font-size: 17px;
								& > li {
									width: 100%;
									padding: 0.4rem 1rem;
									background: transparent;
									border-bottom: 2px solid rgb(214, 214, 214);
									& a {
										background: transparent;
									}
									&:hover {
										background:#ddd;
										color:#000000;
										cursor: pointer;
									}
								}
								& .memberList {
									display: flex;
									flex-direction: column;
									background-color: #b9cbce;
									padding: 0.3rem 1.5rem;
									& > li {
										display: flex;
										justify-content: space-between;
										text-align: start;
										font-size: 15px;
										background: transparent;
										& div {
											background: transparent;
										}
										& .iconStatus {
											background: transparent;
											width: 15px;
											padding-left: 6px;
											opacity: 70%;
										}
										& button {
											background: transparent;
											& .iconAction {
												background: transparent;
												width: 15px;
												padding-left: 12px;
												opacity: 70%;
												&:hover {
													// outline: none;
													// width: 20px;
													color: #016d06;
													// box-shadow: 2px 3px 7px 1px rgba(99, 99, 99, 0.3);
												}
											}
										}
									}
								}
								& .searchbar {
									display: flex;
									align-items: center;
									justify-content: center;
									background-color: #b9cbce;
									padding: 0.5rem 1.5rem;
									& input {
										width: 100%;
										background: rgb(238, 238, 238);
										color: rgb(77, 77, 77);
										padding: 0.3rem 2rem 0.3rem 1rem;
										border-radius: 2rem;
										border: none;
										outline: none;
									}
									& .svgSearch {
										height: 1.1rem;
										margin-left: -2rem;
										opacity: 50%;
										background-color: #eee;
										cursor: pointer;
									}
								}
								& .settingList {
									display: flex;
									flex-direction: column;
									background-color: #b9cbce;
									width: 100%;
									padding: 0.5rem 0;
									& > li {
										display: flex;
										flex-direction: row;
										align-items: center;
										justify-content: space-between;
										background: transparent;
										font-size: 15px;
										width: 100%;
										padding: 0.3rem 1.5rem;
										// border-bottom: 1px solid rgb(217, 223, 243);
									}
									& .inputChannel {
										outline: 0;
										border-width: 0 0 1px;
										border-color: rgb(42, 42, 43, 0.5);
										background: #b0c1c4;
										width: 60%;
										padding: 0.2rem 0.5rem;
										border-radius: 0.5rem;
									}
									.inputPassword {
										outline: 0;
										border-width: 0 0 1px;
										border-color: rgb(42, 42, 43, 0.5);
										background: #b0c1c4;
										width: 100%;
										padding: 0.2rem 0.5rem;
										border-radius: 0.5rem;
									}
									& button {
										background: transparent;
										color: #088f03;
										font-weight: bold;
										font-size: 17px;
									}
								}
								& .outChannel {
									color: red;
									background: transparent;
								}	
							}
						}
					}
				}
			}

			& #channelHeader {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 15%;
				padding: .75rem 1.5rem;
				& h1 {
					font-size: 1.125rem;
				}
				& .iconChannels {
					height: 15px;
					opacity: 50%;
					padding: 0 0.7rem;
					position: relative;
				}
			}

			& #messageList {
				display: flex;
				flex-direction: column-reverse;
				height: 70%;
				background: rgb(231, 231, 231);
				// padding: 1.5rem;
				padding: 1.5rem 1.5rem 1.5rem 1rem;
				overflow-y: auto;
				font-size: 15px;
				& .message {
					display: flex;
					flex-direction: row;
					background: transparent;
					vertical-align: top;
					padding: 0.1rem 0;
					&.received {
						float: left;
						align-self: flex-start;
						background: transparent;
						& .bubble {
							padding: 0.3em;
							padding-left: 1em;
							padding-right: 1em;
							color: black;
							background-color: #f7fcff;
							align-self: flex-start;
							border-radius: 0 .75rem .75rem .75rem;
						}
					}
					&.sent {
						float: right;
						align-self: flex-end;
						background: transparent;
						& .bubble {
							padding: 0.3em;
							padding-left: 1em;
							padding-right: 1em;
							color: white;
							background-color: rgb(2, 129, 214);
							border-radius: .75rem 0 .75rem .75rem;
						}
					}
				}
				& .messageBlock {
					background: transparent;
				}
				& .avatar {
					width: 3.2rem;
					background: transparent;
					& #profilePicture {
					border-radius: 100%;
					aspect-ratio: 1/1;
					object-fit: cover;
					margin-right: 0.5rem;
					width: 3rem;
					background: transparent;
					}
				}
				& .messageUserName {
					background: transparent;
				}
				& .messageText {
					word-break: break-all;
					background: transparent;
				}
				& .messageDate {
					display: flex;
					justify-content: flex-end;
					background: transparent;
					font-size: 11px;
					color: #3b3b3b;
				}
			}

			& #sendMessage {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 15%;
				padding: 1.3rem;
				& .sendMessageForm {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					padding-right: 3rem;
					& input {
						width: 100%;
						background: rgb(238, 238, 238);
						color: black;
						border-radius: 0.5rem;
						padding: 0.7rem 3rem 0.7rem 1rem;
						margin: 0 1.5rem;
						border: 0px solid transparent;
						outline: none;
					}
					& .send {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 1.3rem;
						height: 2rem;
						margin-left: -4rem;
						opacity: 40%;
						background-color: transparent;
						& .svgSend {
							height: 70%;
							background: rgb(238, 238, 238);
						}
					}
				}
			}
		}
	}
}

.logError {
	color: red;
  }
  