@import url("Base.css");

#Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 1rem;
	height: 100%;
    
    & #gameContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        margin-top: 1rem;
        gap: 40px;
        & #gamePanel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 78%;
            max-height: 1000px;
            min-width: 686px;
            max-width: 1600px;
            & #players {
                display: flex;
                width: 90%;
                height: 10%;
                max-width: 800px;
                height: 50px;
                background-color: var(--fourth-color);
                border-radius: 50px 50px 0px 0px; 
                & .player {
                    height: 100%;
                    width: 45%;
                    display: flex;
                    align-items: center;
                    & > div {
                        width: 50%;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1.2em;
                        font-weight: 900;
                        overflow: hidden;
                    }
                    &:first-child {
                        border-radius: 50px 0px 0px 0px; 
                        background-color: var(--third-color);
                    }
                } 
                & #separator {
                    width: 10%;
                    background-color: var(--third-color);
                    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
                }
            }
    
            & #gameField {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center; 
                max-height: 100%;
                width: 99%;
                & #gameSelector {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & #winner {
                        font-size: 2.8em;
                        padding-bottom: 5rem;
                    }
                    & > h2 {
                        font-size: 2.5em;
                        letter-spacing: 8px;
                    }
                    & #gameButtons {
                        & .gameButton {
                            border-radius: 10px;
                            border: 1px solid;
                            margin: 15px 30px;
                            height: 45px;
                            width: 120px;
                            font-weight: 900;
                            position: relative;
                            transition: all 150ms ease-in-out;
                            z-index: 0;
                            &::after {
                                content: '';
                                position: absolute;
                                border-radius: 8px;
                                background-color: var(--second-color);
                                top: 50%;
                                left: 50%;
                                height: 0;
                                width: 0;
                                transform: translate(-50%, -50%);
                                transition: all 0.2s ease-in-out;
                                z-index: -1;
                            }
                            &:hover::after {
                                width: 100%;
                                height: 100%;
                            }
                            &:hover {
                                transition-delay: 100ms;
                                box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.262);
                            }
                        }
                    }
                    & .locked {
                        pointer-events: none;
                        background-color: rgba(170, 170, 170, 0.236);
                    }
                }
                & #waitingMsg {
                    position: absolute;
                    background-color: transparent;
                }
                & #readyButton {
                    position: absolute;
                    width: 90%;
                    height: 100%;
                    border-radius: 20px;
                    font-size: 6rem;
                    padding: 50px;
                    background: radial-gradient(rgba(255, 255, 255, 0.582) 10%, transparent 60%)
                }
                & .notReady {
                    animation: notReady 1000ms infinite ease-in-out;
                }
                & .ready {
                    animation: ready 200ms ease-in-out;
                    filter: brightness(1.3);
                }
                & #countDown {
                    position: absolute;
                    background-color: transparent;
                    font-size: 2em;
                    transition: all 0ms ease;
                    animation: countdown 800ms infinite;
                }
                & canvas {
                    min-width: 686px;
                    max-width: 1600px;
                    height: 100%;
                    border-radius: 20px;
                    background-color: #c8c3dd77;
                    border: solid 5px var(--third-color);
                    backdrop-filter: blur(7px);
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        
        & #instructions {
            min-width: 200px;
            height: 98%;
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            & p {
                text-align: center;
            }
            & h2 {
                text-align: center;
                width: 80%;
                box-shadow: 0px -3px 23px -010px var(--second-color);
                clip-path: inset(1px 2px -15px 1px);
                margin: 10px;
                margin-bottom: 20px;
            }
            & .quit {
                font-size: x-large;
                border-radius: 10px;
                background-color:  rgba(255, 255, 255, 0.719);
                padding: 20px 25px;
                box-shadow: 0px -3px 23px -010px var(--second-color);
                &:hover {
                    background-color: var(--third-color);
                    font-style: oblique;
                    color: white;
                }
            }
            & #gameModes, #controls, #proposeGame {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 350px;
                height: fit-content;
                margin: 10px 0;
                padding: 30px 20px;
                border-radius: 20px;
                background-color:  rgba(255, 255, 255, 0.719);
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.222);
                & > h3 {
                    margin: 10px 0;
                }
                & > div {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                }
                & .buttons {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 12px;
                    font-size:large;
                    margin-bottom: 20px;
                    & .iconAction {
                        color: #33469cd8;
                    }
                    & .button {
                        padding: 7px 15px 7px 15px;
                        border-radius: 10px;
                        background-color: #dbb8d9e1;
                        &:hover {
                            background-color: var(--third-color);
                            font-style: oblique;
                            color: white;
                        }
                        &.push {
                            background-color: #d73272;
                            color: white;
                        }
                    }
                }
            }
            & #searchbarWrapper {
                display: flex;
                flex-direction: column;
                & input {
                    background: #c1bbd877;
                    color: var(--text-color);
                    padding: 0.5rem 2rem 0.5rem 1rem;
                    border-radius: 2rem;
                    border: none;
                    outline: none;
                }
                & .svgSearch {
                    height: 15px;
                    margin-left: -2rem;
                    opacity: 25%;
                    color: var(--text-color);
                }
                & ul {
                    color: var(--text-color);
                    position: absolute;
                    z-index: 9;
                    width: 220px;
                    max-height: 300px;
                    margin: 34px 0;
                    padding: 0.3rem 1rem;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0 1px 2px rgb(204, 204, 204);
                    overflow: hidden;
                    overflow-y: auto;
                    & button {
                        color: #33469cb9;
                    }
                }
            }
            & #gameModes > div {
                flex-direction: column;
            }
            & #controls .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                padding: 4px;
                margin-right: 15px;
                border-radius: 5px;
                background-color: #33469c22;
                border: 1px solid rgb(66, 66, 66);
                position: relative;
                z-index: 1;
                transition: all 100ms ease;  
                & > .arrow {
                    z-index: -2;
                }     
                & > div {
                    background-color: var(--second-color);
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    top: 30px;
                    z-index: -2;
                    transition: all 100ms ease;
                }  
                &:hover {
                    transform: translateY(3px);
                }           
                &:hover > div{
                    transform: translateY(-3px);
                    height: 2px;
                    top: 33px;
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    #Game {
        & #gameContainer {
            flex-direction: column;
            padding-top: 10px;
            & #instructions {
                display: flex;
                flex-direction: column;
                width: 90%;
                justify-content: space-around;
                & .bloc {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    & #gameModes, #controls, #proposeGame {
                        flex: none;
                        width: 40%;
                        min-width: 250px;
                        height: 80%;
                        max-height: 300px;
                        margin: 35px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1350px) {
    #instructions {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #Game {
        height:90%;
        & #gameContainer {
            display: flex;
            align-content: flex-start;
            height:70%;
            width: 480px;
            & #gameField {
                min-width: 100%;
            }
            & #instructions {
                height:100%;
                max-height: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                overflow-y: scroll;
                align-items: center;
                gap: 10px;
                width: 90%;
                & .bloc {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    & .quit {
                        display: flex;
                        justify-content: center;
                        width: 70%;
                        &:hover {
                            background-color: var(--third-color);
                            font-style: oblique;
                            color: white;
                        }
                    }
                    & #gameModes, #controls, #proposeGame {
                        margin: 5px 0;
                        width: 70%;
                    }
                }
            }
        }
    }
}

@keyframes countdown {
    0% {
        font-size: 2em;
    }
    100% {
        font-size: 4em;
    }
}

@keyframes notReady {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.3);
    }
    100% {
        filter: brightness(1.0);
    }
}

@keyframes ready {
    0% {
        filter: brightness(1);
    }
    20% {
        filter: brightness(1.3);
    }
    40% {
        filter: brightness(1.0);
    }
    60% {
        filter: brightness(1.3);
    }
    70% {
        filter: brightness(1.0);
    }
    80% {
        filter: brightness(1.3);
    }
    100% {
        filter: brightness(1.0);
    }
}