@import url("Base.css");

#Game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & #gameContainer {
        // border: 3px solid green;
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 96%;
        // min-width: 600px;
        // max-width: 1400px;
        // height: calc(80vw / (16 /9) + 7vh);
        height: 70%;
        
        & #gamePanel {
            width: 75%;
            min-width: 600px;
            max-width: 1400px;
            // border: 3px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            & #players {
                width: 100%;
                max-width: 800px;
                display: flex;
                // justify-content: space-between;
                height: 6vh;
                background-color: var(--fourth-color);
                
                & .player {
                    height: 100%;
                    width: 45%;
                    display: flex;
                    align-items: center;
    
                    & > div {
                        width: 50%;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1.2em;
                        font-weight: 900;
                        overflow: hidden;
                    }
    
                    &:first-child {
                        background-color: var(--third-color);
                        // clip-path: polygon(0 0, 100% 0, 30% 100%, 0% 100%);
                    }
                }
                
                & #separator {
                    width: 10%;
                    background-color: var(--third-color);
                    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    
                }
            }
    
            & #gameField {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                // margin-top: 6vh;
                // margin-bottom: 3vh;
                
                & #gameSelector {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    & > h2 {
                        font-size: 2.5em;
                        letter-spacing: 8px;
                    }
                    
                    & #gameButtons {
    
                        & .gameButton {
                            border-radius: 8px;
                            border: 1px solid;
                            margin: 15px 30px;
                            height: 45px;
                            width: 120px;
                            font-weight: 900;
                            // transition: all ease-out 0.1s;
                            position: relative;
                            transition: all 150ms ease-in-out;
                            z-index: 0;
                            
                            &::after {
                                content: '';
                                position: absolute;
                                border-radius: 8px;
                                background-color: var(--second-color);
                                top: 50%;
                                left: 50%;
                                height: 0;
                                width: 0;
                                transform: translate(-50%, -50%);
                                transition: all 0.2s ease-in-out;
                                z-index: -1;
                            }
                    
                            &:hover::after {
                                width: 100%;
                                height: 100%;
                            }
                    
                            &:hover {
                                transition-delay: 100ms;
                                box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
                            }
                        }
                    }
                    
                
                    & .locked {
                        pointer-events: none;
                        background-color: rgb(170, 170, 170);
                    }
                }
    
                & #waitingMsg {
                    position: absolute;
                    background-color: transparent;
                }
    
                & #readyButton {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    font-size: 7cqw;
                    position: absolute;
                    background-color: var(--second-color);
                }
                
                & .notReady {
                    animation: notReady 1000ms infinite ease-in-out;
                    
                }
                
                & .ready {
                    animation: ready 200ms ease-in-out;
                    // animation-iteration-count: 5;
                    filter: brightness(1.3);
                }
                
                & #countDown {
                    position: absolute;
                    background-color: transparent;
                    font-size: 2em;
                    transition: all 0ms ease;
                    animation: countdown 800ms infinite;
                }
                
                & canvas {
                    min-width: 600px;
                    max-width: 1400px;
                    border-radius: 10px;
                    background-color: var(--second-color);
                    border: solid 5px var(--third-color);
                    backdrop-filter: blur(7px);
                    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        & #instructions {
            // border: 3px solid yellow;
            flex: 1;
            height: 80%;
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 2vw;
            
            & p {
                text-align: center;
            }

            & #gameModes, #controls {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--second-color);
                width: 100%;
                margin: 10px 0;
                border-radius: 10px;
                border: solid 5px var(--third-color);
                padding: 10px;
                
                & > h3 {
                    margin: 10px 0;
                }
                
                & > div {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                }
            }

            & #gameModes > div {
                flex-direction: column;
            }

            & #controls .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                padding: 4px;
                margin-right: 15px;
                background-color: rgb(201, 201, 201);
                border: 1px solid rgb(66, 66, 66);
                position: relative;
                z-index: 1;
                transition: all 100ms ease;
                
                & > .arrow {
                    z-index: -2;
                }
                
                & > div {
                    background-color: rgb(117, 117, 117);
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    top: 30px;
                    z-index: -2;
                    transition: all 100ms ease;
                    // transform: translateX(40px);
                }
                
                &:hover {
                    transform: translateY(3px);
                }
                
                &:hover > div{
                    transform: translateY(-3px);
                    height: 2px;
                    top: 33px;
                }
            }

        }
    }
}

@media (max-width: 1200px) {
    #Game {
        & #gameContainer {
            flex-direction: column;
    
            & #instructions {
                width: 80%;
                justify-content: space-around;
                & #gameModes, #controls {
                    flex: none;
                    width: 40%;
                    min-width: 250px;
                    height: 80%;
                    max-height: 300px;
                    margin: 35px 0;
                }
            }
        }

    }
}

@media (min-width: 1200px) {
    #instructions {
        flex-direction: column;
    }
}

@keyframes countdown {
    0% {
        font-size: 2em;
    }
    100% {
        font-size: 4em;
    }
}

@keyframes notReady {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.3);
    }
    100% {
        filter: brightness(1.0);
    }
}

@keyframes ready {
    0% {
        filter: brightness(1);
    }
    20% {
        filter: brightness(1.3);
    }
    40% {
        filter: brightness(1.0);
    }
    60% {
        filter: brightness(1.3);
    }
    70% {
        filter: brightness(1.0);
    }
    80% {
        filter: brightness(1.3);
    }
    100% {
        filter: brightness(1.0);
    }
}