#homePageSettings {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    & > div {
        border: 2px solid var(--text-color);
        border-radius: 15px;
        margin: 40px 15px;
        width: 30%;
        min-width: 350px;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & #avatarSetting {
        & #profilePicture {
            margin: 15px 15px 0px 15px;
            object-fit: cover;
            aspect-ratio: 1 /1;
            max-width: 250px;
            border-radius: 100%;
        }
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            & #inputDiv {
                width: 90%;
                aspect-ratio: 1;
                max-height: 300px;
                display: flex;
                flex-direction: column;
                margin: 15px 0;
                border: 2px dashed var(--text-color);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                & > p {
                    background-color: transparent;
                }
                & .or {
                    margin: 15px 0;
                }
                & #files {
                    color: transparent;
                    width: 120px;
                    height: 35px;
                    display: flex;
                    background: transparent;
                    &::before {
                        color: var(--text-color);
                        text-align: center;
                        content: 'Select file';
                        display: inline-block;
                        background: transparent;
                        border: 1px solid #999;
                        border-radius: 3px;
                        padding: 5px 8px;
                        outline: none;
                        white-space: nowrap;
                        cursor: pointer;
                    }
                    &:hover::before {
                        background-color: var(--second-color);
                    }
                    &::-webkit-file-upload-button {
                        visibility: hidden;
                    }
                }
            }
            & label {
                min-width: 100px;
                margin-bottom: 7px;
            }
            & .hovered {
                background-color: var(--second-color);
            }
            & > button {
                border: 1px solid var(--text-color);
                min-width: 150px;
                padding: 5px 10px;
                &:hover {
                    background-color: var(--second-color); 
                }
            }
        }
    }
    
    & #nameSettings {
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        & > button {
            border: 1px solid var(--text-color);
            min-width: 150px;
            padding: 5px 10px;
            &:hover {
                background-color: var(--second-color); 
            }
        }
    }
}
