@import url("Base.css");

#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno';
    
    & .navbar {
        display: none;
    }

    & #title {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        padding-bottom: 10rem;
        & > div {
            position: relative;
            display: flex;
            justify-content: center;
            & .shadow {
                position: absolute;
                top: -12px;
                width: calc(100% - 24px);
                height: 100%;
                background-color: #33469c96;
                filter: brightness(0.9);
                box-shadow: 0px -10px 40px 10px rgba(0, 0, 0, 0.28);
                border-radius: 20px;
                transition: filter 120ms ease-out;
                &::after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 1px;
                    width: 8px;
                    height: 20px;
                    background-color: #33469c67;
                    transform: rotate(45deg);
                    z-index: -1;
                    transition: filter 120ms ease-out;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    right: -6px;
                    width: 20px;
                    height: 8px;
                    background-color: #33469c67;
                    transform: rotate(45deg);
                    z-index: -1;
                    transition: filter 120ms ease-out;
                }
            }
            & h1 {
                position: relative;
                z-index: 2;
                text-transform: uppercase;
                font-size: 5.5cqw;
                padding: 10px 50px;
                // height: 100%;
                // width: 100%;
            }
            & .navLink {
                position: relative;
                background-color:  rgba(255, 255, 255, 0.258);
                border: solid 4px #33469cb0;
                border-radius: 20px;
                transition: all 100ms ease, filter 120ms ease-out;
            }
            & .hit {
                filter: brightness(1.2);
                &+.shadow {
                    filter: brightness(1.2);
                }
            }
            & h1:hover {
                transform: translateY(-12px) scale(0.97);
                filter: brightness(95%);
                z-index: 2;
                &+.shadow {
                    box-shadow: 0px -5px 60px 10px rgba(56, 50, 59, 0.337);
                }
                &+.shadow::after {
                    height: 0px;
                    left: -2px;
                }
                &+.shadow::before {
                    width: 0px;
                    top: 4px;
                    right: 2px;
                }
            }
        }
    }

    & #links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 0 30px;
        & > div {
            position: relative;
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
            // width: 300px;
            & .navLink {
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                // width: 100%;
                // height: 80px;
                font-size: 3.2cqw;
                font-weight: 900;
                padding: 10px 50px;
                background-color:  rgba(255, 255, 255, 0.258);
                border: solid 4px #33469cb0;
                border-radius: 20px;
                transition: all 100ms ease;
            }
            & .navLink:hover {
                transform: translateY(-12px) scale(0.95);
                background-color: #ca507f32;
                filter: brightness(95%);
                z-index: 2;
                &+.shadow {
                    box-shadow: 0px -5px 60px 10px rgba(0, 0, 0, 0.28);
                }
                &+.shadow::after {
                    height: 0px;
                    left: -2px;
                }
                &+.shadow::before {
                    width: 0px;
                    top: 4px;
                    right: 2px;
                }
            }
            & .shadow {
                position: absolute;
                top: -12px;
                width: calc(100% - 24px);
                height: 100%;
                background-color: #33469c96;
                filter: brightness(0.9);
                box-shadow: 0px -10px 40px 10px rgba(0, 0, 0, 0.28);
                border-radius: 20px;
                transition: all 120ms ease;
                &::after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 1px;
                    width: 8px;
                    height: 20px;
                    background-color: #33469c67;
                    transform: rotate(45deg);
                    z-index: -1;
                    transition: all 100ms ease;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    right: -6px;
                    width: 20px;
                    height: 8px;
                    background-color: #33469c67;
                    transform: rotate(45deg);
                    z-index: -1;
                    transition: all 100ms ease;
                }
            }
        }
    }
    & svg {
        pointer-events: none;
        position: absolute;
        top: 0;
        z-index: 3;
        background-color: transparent;
    }
}

.ball {
    position: absolute;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    z-index: 300;
}

@media (max-width: 900px) {
    #title {
        align-items: center !important;
    }
    #links {
        flex-direction: column;
    }
}