@import url("Base.css");

#matchsInProgress {
    border: 2px solid antiquewhite;
    width: 90vw;
    max-width: 800px;

    & table, thead, tbody, tr {
        table-layout: fixed;
        width: 100%;
    }

    & td {
        border: 1px solid var(--second-color);
        width: 25%;
        // max-width: 200px;
        text-align: center;
        overflow: hidden;
    }
}