@import url("Base.css");

#PopUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--second-color);
    overflow-y: scroll;
    height: 5%;
    
    & .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        width: 90%;
        max-width: 700px;
        min-width: 300px;
        z-index: 3;
        
        & #accept, #decline, #cancel_invit {
            display: flex;
            align-items: center;
            border-radius: 10px;
            margin-left: 1rem;
            padding: 7px 15px 7px 15px;
            font-weight: 900;
            transition: all 150ms ease-in-out;
            cursor: pointer;
        }
        & #accept {
            background-color: rgb(176, 251, 139);
        }
        & #decline, #cancel_invit {
            background-color: rgb(253, 142, 134);
        }
        & #accept, #decline {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
            min-width: fit-content;
            padding: 7px 15px 7px 15px;
            cursor: pointer;
            width: 15%;
            &:hover {
                filter: brightness(1.2);
            }
        }

    }
}

.hide {
    display: none !important;
}

@media (max-width: 500px) {
    #PopUp {
        min-height: 60px;
        max-height: 100px;
    }
}

@media (max-width: 500px) {
    #PopUp {
        min-height: 100px;
        max-height: 200px;
    }
}