@import url("Base.css");

#PopUp {
    display: flex;
    flex-direction: row;
    padding: 0 10vw;
    background-color: rgb(243, 98, 98);
    position: absolute;
    height: 30px;
    top: 0;

    & > #accept, #decline {
        cursor: pointer;
        background-color: inherit;

        &:hover {
            filter: brightness(1.2);
        }
    }
}

.hide {
    display: none !important;
}