@import url("Base.css");

#profilePage {
    // height: 100%;
    display: flex;
    align-items: center;

    & aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        height: 100%;
        width: 30%;
        box-shadow: 0 15px 15px 0px rgba(0,0,0,0.75);
        clip-path: inset(0px -15px 0px 0px);

        & #profilePicture {
            object-fit: cover;
            width: 90%;
            aspect-ratio: 1/1;
            max-width: 225px;
            border-radius: 100%;
        }

        & #login {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid var(--text-color);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & h1 {
            margin: 0 15px;
        }

        & #FriendManagement {
            display: flex;
            overflow-y: auto;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: 10px 0;
            width: 100%;

            & .iconAction {
                background: transparent;
                &:hover {
                    color: #ffffff;
                }
            }

            & #pending {
                display: flex;
                flex-direction: column;
                font-size: larger;
                padding: 15px 0;
                width: 90%;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                align-items: center;

                & #titlePending {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    justify-content: space-between;
                    & h3 {
                        font-size: x-large;
                        color:rgb(0, 0, 0);
                    }
                    & #developButton {
                        color:rgb(255, 0, 140);
                    }
                }

                & #pendingList {
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    width: 90%;
                    
                    & #pendingElement {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        gap: 15px;
                        flex-wrap: wrap;
                        font-size: x-large;
                        
                        & span {
                            color:blue;
                            font-family: 'Pacifico', sans-serif;
                            font-size: xx-large;
                        }

                        & #cancelRequestButton {
                            color:rgb(228, 16, 16);
                        }

                        & #checkProfileButton {
                            color:rgb(7, 63, 216);
                        }
                    }
                }
            }

            & #request {
                display: flex;
                flex-direction: column;
                font-size: larger;
                padding: 15px 0;
                width: 90%;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                align-items: center;

                & #titleRequest {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    & h3 {
                        font-size: x-large;
                        color:rgb(0, 0, 0);
                    }
                    & #developButton {
                        color:rgb(255, 0, 140);
                    }
                }
                & #requestList {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    
                    & #requestElement {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 15px;
                        flex-wrap: wrap;
                        font-size: x-large;
                        
                        & span {
                            color:blue;
                            font-family: 'Pacifico', sans-serif;
                            font-size: xx-large;
                        }

                        & #acceptFriendButton {
                            color:rgb(13, 119, 19);
                        }

                        & #declineFriendButton {
                            color:rgb(228, 16, 16);
                        }

                        & #checkProfileButton {
                            color:rgb(7, 63, 216);
                        }
                    }
                }
            }

            & #friend {
                display: flex;
                flex-direction: column;
                font-size: larger;
                align-items: center;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                width: 90%;

                & #titleFriend {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    justify-content: space-between;
                    & h3 {
                        font-size: x-large;
                        color:rgb(0, 0, 0);
                    }
                    & #developButton {
                        color:rgb(255, 0, 140);
                    }
                }


                & #friendList {
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;

                    & #friendElement {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        & #friendInfo {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: baseline;
                            & #friendName {
                                color: rgba(18, 167, 38, 0.664);
                                font-size: xx-large;
                                font-family: 'Pacifico', sans-serif;
                            }
                            & .circle {
                                width: 15%;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                margin: 0 1rem;
                                &.online {
                                    background-color: #8BC34A;
                                }
                                &.offline {
                                    background-color: #fa6969;
                                }
                            }
                        }

                        & #friendOptions {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-around;
                            font-size: x-large;

                            & #unfriendButton {
                                &:hover::before {
                                    color: rgb(0, 0, 0);
                                    font-weight: bold;
                                    content: attr(data-hover-text);
                                    position: absolute;
                                    background-color: rgba(184, 179, 179, 0.3);
                                }
                                color: rgb(0, 0, 0);
                                opacity: 80%;
                            }
                            & #chatButton {
                                &:hover::before {
                                    color: rgb(13, 119, 19);
                                    font-weight: bold;
                                    content: attr(data-hover-text);
                                    position: absolute;
                                    background-color: rgba(184, 179, 179, 0.3);                                }
                                color: rgb(13, 119, 19);
                                opacity: 80%;
                            }
                            & #inviteToGame {
                                &:hover::before {
                                    color: rgb(228, 16, 16);
                                    font-weight: bold;
                                    content: attr(data-hover-text);
                                    position: absolute;
                                    background-color: rgba(184, 179, 179, 0.3);
                                }
                                color: rgb(228, 16, 16);
                                opacity: 80%;
                            }
                            & #checkProfileButton {
                                &:hover::before {
                                    color: rgb(2, 129, 214);
                                    font-weight: bold;
                                    content: attr(data-hover-text);
                                    position: absolute;
                                    background-color: rgba(184, 179, 179, 0.3);
                                }
                                color: rgb(7, 63, 216);
                                opacity: 80%;
                            }
                        }
                    }
                }
            }

            & #block {
                display: flex;
                flex-direction: column;
                font-size: larger;
                padding: 15px 0;
                width: 90%;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                align-items: center;
    
                & #titleBlock {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    justify-content: space-between;
                    & h3 {
                        font-size: x-large;
                        color:rgb(0, 0, 0);
                    }
                    & #developButton {
                        color:rgb(255, 0, 140);
                    }
                }
    
                & #blockList {
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    width: 90%;
                    
                    & #blockElement {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        gap: 15px;
                        flex-wrap: wrap;
                        font-size: x-large;
                        
                        & span {
                            color:rgb(163, 113, 5);
                            font-family: 'Pacifico', sans-serif;
                            font-size: xx-large;
                        }
    
                        & #unblockButton {
                            color:rgba(22, 161, 3, 0.897);
                        }
    
                        & #checkProfileButton {
                            color:rgb(7, 63, 216);
                        }
                    }
                }
            }
        }

        
    }

    
    & #score {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > div {
            width: 100%;
            min-height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & h2 {
            width: 80%;
            text-align: center;
            // border-bottom: 1px var(--text-color) solid;
            box-shadow: 0px -3px 23px -010px rgba(0,0,0,0.75);
            clip-path: inset(1px 2px -15px 1px);

        }
    }
}