@import url("Base.css");

#profilePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
    height: fit-content;
    padding: 0 8rem;
    padding-bottom: 20px;

    & aside {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        max-width: 400px;
        min-width: 350px;
        min-height: 400px;
        height: fit-content;
        border-radius: 20px;
        background-color:  rgba(255, 255, 255, 0.719);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
        padding-top: 10px;
        & > a {
            width: 100%;
            display: flex;
            background: transparent;
            justify-content: flex-end;
            & .gear {
                height: 25px;
                color: var(--third-color);
                margin: 0px 10px -25px 0px;
               
            }
        }
        & #profilePicture {
            object-fit: cover;
            width: 60%;
            aspect-ratio: 1/1;
            max-width: 225px;
            max-height: 225px;
            border-radius: 100%;
            margin: 10px 0;
        }
        & #login {
            width: 100%;
            display: flex;
            text-align: center;
            word-break: break-all;
            align-items: center;
            border-bottom: 1px solid var(--second-color);
            & h1 {
                width: 100%;
                text-align: center;
                margin-bottom: 2px;
            }
        }
        & #actionProfile {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            padding-bottom: 25px;
            & li {
                padding: 13px 1rem;
                border-bottom: 2px solid rgb(202, 202, 202);
                & .iconAction {
                    margin: 0px 10px;
                    color: #33469cd8;
                }
                & button {
                    padding: 7px 15px 7px 15px;
                    margin-top: 7px;
                    border-radius: 10px;
                    background-color: #dbb8d9e1;
                    &:hover {
                        background-color: var(--third-color);
                        font-style: oblique;
                        color: white;
                    }
                }
                &:hover {
                    background: #33469c19;
                    cursor: pointer;
                    & #navlink{
                        background: transparent;
                    }
                }
            }
        }
        & #FriendManagement {
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            width: 100%;
            height: 100%;
            padding-bottom: 20px;

            & #searchbarWrapper {
				display: flex;
				flex-direction: column;
				height: 40px;
				padding: 0 3rem;
				& input {
					width: 100%;
					background: #c1bbd877;
					color: var(--text-color);
					padding: 0.5rem 2rem 0.5rem 1rem;
					border-radius: 2rem;
					border: none;
					outline: none;
				}
				& .svgSearch {
					height: 15px;
					margin-left: -2rem;
					opacity: 25%;
					color: var(--text-color);
				}
				& ul {
					color: var(--text-color);
					position: absolute;
					z-index: 9;
					width: 260px;
					margin: 34px 0;
					padding: 0.3rem 1rem;
					background-color: rgb(255, 255, 255);
					box-shadow: 0 1px 2px rgb(204, 204, 204);
					overflow: hidden;
					overflow-y: auto;
					& button {
						color: #33469cb9;
					}
				}
            }

            & .developButton {
                padding-left: 3px;
                padding-top: 5px;
                font-size: 15px;
                opacity: 75%;
                &:hover {
					color: var(--third-color);
				}
            }
            & .title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                gap: 10px;
                padding-top: 20px;
                box-shadow: 0px -3px 23px -010px var(--second-color);
                clip-path: inset(1px 2px -15px 1px);
                font-weight: bolder;
            }
            & .list {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                & .element {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: baseline;
                    flex-wrap: wrap;
                    gap: 10px;
                    font-size: x-large;
                    padding: 7px 3rem;
                    border-bottom: 2px solid rgb(202, 202, 202);
                    &:hover {
                        background: #33469c19;
                        cursor: pointer;
                        & #navlink{
                            background: transparent;
                        }
                        & button {
                            background: transparent;
                        }
                    }
                    & .name {
                        word-break: break-all;
                        font-size: 0.8em;
                        &:hover {
                            font-weight: bolder;
                            color: var(--third-color);
                        }
                    }
                    & .iconAction {
                        font-size: 20px;
                        padding-left: 3px;
                        opacity: 65%;
                        &:hover {
                            color: var(--third-color);
                        }
                    }
                    & #cancelRequestButton {
                        color:rgb(228, 16, 16);
                    }
                    & #acceptFriendButton {
                        color:rgb(13, 119, 19);
                    }
                    & #declineFriendButton {
                        color:rgb(228, 16, 16);
                    }
                    & #unblockButton {
                        color:rgba(22, 161, 3, 0.897);
                    }
                    & #unfriendButton {
                        color: rgb(0, 0, 0);
                        opacity: 80%;
                    }
                    & #chatButton {
                        color: rgb(13, 119, 19);
                        opacity: 80%;
                    }
                }
            }
            & .circle {
                width: 15%;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                &.online {
                    background-color: #8BC34A;
                }
                &.offline {
                    background-color: #fa6969;
                }
            }
            & .friend {
                display: flex;
                align-items: center;
                gap: 11px;
                flex-wrap: wrap;
            }
            & #invite {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                font-size:large;
                & .iconAction {
                    color: #33469cd8;
                }
                & > button {
                    padding: 7px 15px 7px 15px;
					border-radius: 10px;
					background-color: #dbb8d9e1;
					&:hover {
						background-color: var(--third-color);
						font-style: oblique;
						color: white;
					}
                }
            }
        } 
    }
    
    & #score {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 350px;
        min-height: 700px;
        height: fit-content;
        border-radius: 20px;
        background-color:  rgba(255, 255, 255, 0.582);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
        padding-top: 25px;
        padding-bottom: 25px;
        & h2 {
            text-align: center;
            width: 80%;
            box-shadow: 0px -3px 23px -010px var(--second-color);
            clip-path: inset(1px 2px -15px 1px);
            margin: 20px;
        }
        & #stats {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 20%;
            min-height: 200px;
            & .bloc {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 20px 100px 0 100px;
                width: 100%;
                & .element {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    padding: 0 20px;
                    & span {
                        font-size: 80px;
                        color: var(--third-color);
                    }
                    & h3 {
                        font-weight: bolder;
                    }
                }
            }    
        }
        & #history {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 5px;
            & #matchList {
                display: flex;
                flex-direction: column;
                width: 85%;
                background-color: #c8c3dd77;
                border-radius: 5px;
                margin-top: 15px;
                & #firstRow{
                    display: flex;
                    flex-direction: row;
                    padding: 1rem;
                    justify-content: space-evenly;
                    font-weight: 900;
                    font-size: larger;
                }
                & #historyElement {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 2px;
                    border: 1px solid var(--second-color);
                    border-style: dashed;
                    & .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 50%;
                        font-weight: 900;
                        padding: 0px 5px;
                        border: 1px solid var(--second-color);
                        &.winner {
                            background-color: #c8ef9b36;
                        }
                        &.loser {
                            background-color: #da2e2e18;
                        }
                        & #name {
                            word-break: break-all;
                            padding: 3px;
                        }
                        & #scoreW {
                            padding: 3px;
                            padding-right: 2%;
                        }
                        & #scoreL {
                            padding: 3px;
                            padding-left: 2%;
                        }
                    }
                }
            }
        }
    }
}