#settingsPage {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    & > div {
        border: 2px solid var(--text-color);
        border-radius: 15px;
        margin: 40px 15px;
        width: 40%;
        max-height:90%;
        min-width: 350px;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & #avatarSetting {
        & #profilePicture {
            margin: 15px 15px 0px 15px;
            object-fit: cover;
            aspect-ratio: 1 /1;
            max-width: 250px;
            border-radius: 100%;
        }
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            & #inputDiv {
                width: 90%;
                aspect-ratio: 1;
                max-height: 300px;
                display: flex;
                flex-direction: column;
                margin: 15px 0;
                border: 2px dashed var(--text-color);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                & > p {
                    font-size: 1.3em;
                    background-color: transparent;
                }
                & .or {
                    margin: 15px 0;
                }
                & #files {
                    color: transparent;
                    width: 120px;
                    height: 45px;
                    display: flex;
                    background: transparent;
                    &::before {
                        color: var(--text-color);
                        text-align: center;
                        content: 'Select file';
                        display: inline-block;
                        background: transparent;
                        border: 1px solid #999;
                        border-radius: 3px;
                        padding: 5px 8px;
                        outline: none;
                        white-space: nowrap;
                        font-size: 1.3em;
                        cursor: pointer;
                    }
                    &:hover::before {
                        background-color: var(--second-color);
                    }
                    
                    &::-webkit-file-upload-button {
                        visibility: hidden;
                    }
                }
            }
            & label {
                font-size: 1.3em;
                min-width: 100px;
                margin-bottom: 7px;
            }
            & .hovered {
                background-color: var(--second-color);
            }
            & > button {
                font-size: 1.3em;
                border: 1px solid var(--text-color);
                min-width: 150px;
                padding: 5px 10px;
                &:hover {
                    background-color: var(--second-color); 
                }
            }
        }
    }
    
    & #fasetting {
        .switch {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top:50px;
            padding-bottom: 30px;
            p {
                font-size: 1.3em;
                margin-right: 15px;
            }
    
        }
        #scan {
            margin-top:2em;
            font-size: 1.3em;
            font-weight: bold;
        }
        #qrcode {
            margin-top: 20px;
            margin-bottom: 20px;
            width:15em;
            max-width: 20em;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1em;
        }
        input {
            font-size: 1.3em;
            text-align: center;
            border-radius: 2%;
            height: 50px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
        #validateForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 80px;
            margin-top: 1em;
            button {
                background: transparent;
                color: var(--text-color);
                font-size: 1.3em;
                border: 1px solid var(--text-color);
                min-width: 150px;
                padding: 5px 10px;
                &:hover {
                    background-color: var(--second-color); 
                }
            }
            .errors {
                margin-bottom: 1em;
                font-size: 1.3em;
                color: red;
            }
        }
        #AuthActivate {
            font-size: 1.3em;
            color: rgb(52, 211, 52);
        }
    }

}
