#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.toggle2fa {
    height: 40px;
    border-radius: 2%;
    width: 190px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 10px;
}
.enable {
    background-color: rgb(54, 212, 54);
}

.disable {
    background-color: rgb(150, 13, 59);
}

#qrcode {
    max-width: 200px;
}

input {
    margin: 20px;
}
