#settingsPage {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding-left: 40px;

    & > div {
        border: 2px solid var(--text-color);
        border-radius: 15px;
        margin: 40px 15px;
        width: 30%;
        min-width: 350px;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & #avatarSetting {
        // border: 2px solid red;

        & #profilePicture {
            margin: 15px 15px 0px 15px;
            object-fit: cover;
            aspect-ratio: 1 /1;
            // width: 80%;
            max-width: 250px;
            border-radius: 100%;
        }

        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            // & #dropZone {
                
            & #inputDiv {
                width: 90%;
                aspect-ratio: 1;
                max-height: 300px;
                display: flex;
                flex-direction: column;
                // background-color: lightgreen;
                margin: 15px 0;
                border: 2px dashed var(--text-color);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                & > p {
                    background-color: transparent;
                }

                & .or {
                    margin: 15px 0;
                }
                
                & #files {
                    color: transparent;
                    // border: 1px solid red;
                    width: 120px;
                    height: 35px;
                    display: flex;
                    background: transparent;
    
                    &::before {
                        color: var(--text-color);
                        text-align: center;
                        content: 'Select file';
                        display: inline-block;
                        background: transparent;
                        border: 1px solid #999;
                        border-radius: 3px;
                        padding: 5px 8px;
                        outline: none;
                        white-space: nowrap;
                        // -webkit-user-select: none;
                        cursor: pointer;
                        // text-shadow: 1px 1px #fff;
                        // font-weight: 700;
                        // font-size: 10pt;
                        
                    }
                    &:hover::before {
                        background-color: var(--second-color);
                    }
                    
                    &::-webkit-file-upload-button {
                        visibility: hidden;
                    }
                }
                
            }
            & label {
                min-width: 100px;
                margin-bottom: 7px;
            }

            & .hovered {
                background-color: var(--second-color);
                // filter: brightness(0.9);
            }

            & > button {
                border: 1px solid var(--text-color);
                min-width: 150px;
                padding: 5px 10px;

                &:hover {
                    background-color: var(--second-color);
                    
                }
            }
        }

        // }
    }
    
    & #fasetting {
        // border: 2px solid blue;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        .switch {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 20px;
    
            p {
                margin-right: 50px;
            }
    
        }
        p {
            font-size: 0.9em;
        }
    
        #qrcode {
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 10em;
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        input, button {
            border-radius: 2%;
            height: 30px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
    
        .errorsCode {
            margin-top: 10px;
            font-size: 12px;
            color: red;
        }
    
        button {
            font-size: 0.8em;
            color: rgb(255, 255, 255);
            margin-left: 10px;
            color: white;
            background-color: rgb(60, 67, 203);
            height: 30px;
            width: 180px;
            margin: 20px;
    
            &:hover {
                background-color: rgb(81, 165, 60);
            }
        }
    
        #AuthActivate {
            color: rgb(52, 211, 52);
        }
    }

}
