.verifycode div {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
        height:30%;
        width:40%;
        max-width:600px;
        min-width:250px;
        backdrop-filter: blur(7px);
        background-color:  rgba(255, 255, 255, 0.51);
        h2 {
            text-align: center;
            margin-bottom: 50px;
            color: var(--text-color);
        }
        input {
            width: 50%;
            min-width: 240px;
            height: 40px;
            font-size: 1.2em;
            background: #c1bbd877;
            color: var(--text-color);
            padding: 0.5rem 1rem 0.5rem 1rem;
            border: none;
			outline: none;
			border-radius: 2rem;
            text-align: center;
            margin-bottom: 40px;
        }
        button {
            background-color: #dbb8d9e1;
            border-radius: 10px;
            min-width: 150px;
            padding: 5px 10px;
            font-size: 1.2em;
            &:hover {
                background-color: var(--third-color);
                font-weight: bolder;
                color: white;
            }
        }
        .errors {
            margin-bottom: 1em;
            font-size: 1.3em;
            color: red;
        }
    }
}